body{
  font-family: 'Open Sans', sans-serif;
  display: grid;
  grid-template-rows: repeat(8, auto);
  margin: 0px;
  color: white;
}
/* Row 1 */
nav {
  grid-row: 1;
  background: #333333;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 150px;
  padding-right: 150px;
  font-size:120%
}
.nav_menu {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nav_menu > li {
  list-style-type: none;
  grid-column: 1;


}

.nav_logIn {
  list-style-type: none;
  grid-column: 2;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

/* Row 2  Flex */
header {
  background-color: #1E93CC;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 150px 0px 150px;
}

.header_man {
  width: 33%;
  display: flex;
  justify-content: center;
}

.header_man > img{
  width:200px;
  padding:40px 0px 60px 0px;
}

.header_center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

.header_center > img {
  width: 200px;
}

.header_button  {
  background-color: #E99002;
  padding:15px 20px 15px 20px;
  border-radius: 10px;
  font-size: 200%;
  border:solid 2px white;
  margin-top: 20px;
}

.header_button a {
  text-decoration: none;
  color: white;
}

/* Row 3 -- Flex */

.section_slogan {
  grid-row: 3;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  font-size: 120%;
  font-weight:100;
  padding:0px 150px 0px 150px;
}

/* Row 4 */
.section_explanation {
  grid-row: 4;
  background-color: #1E93CC;
  padding: 50px 170px 100px 150px;
  display: grid;
  text-align: justify;
}

h3 {
  font-size: 200%;
  margin: 0px;
  padding-top: 40px;
}
.explanation_left {
  grid-column: 1;
  padding-right: 20px;
}

.explanation_right {
  grid-column: 2;
  padding-left: 20px;
}

h3 {

}

.section2_buttonDiscu {

}

/* Row 5 flex */
.section_innovative {
  grid-row: 5;
  background-color: white;
  color: #6F6F6F;
  display: flex;
  justify-content: center;
  font-size: 150%;
  word-spacing: 5px;
}
/* Row 6 -- Flex */
.section_sponso {
  background: linear-gradient(1deg, rgb(174, 174, 174), rgb(124, 124, 124));
  padding: 40px 150px 40px 150px;
}

.section_allSponso > li {
  list-style-type: none;
}

.section_allSponso {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

img {
  width:100px;
}

.sponso_productHunt {
  width:150px;
}


/* Row 7 */
.section_button {
  grid-row: 7;
  background-color: white;
  display: flex;
  justify-content: center;
}

.section_button > p {
  background-color: #165882;
  padding:15px 30px 15px 30px;
  border-radius: 10px;
  font-size: 160%;
  border:solid 2px white;
  margin-top: 40px;
  margin-bottom: 80px;
}

.section_button p:last-child {
  background-color: #E99002;
}
/* Row 8 */

footer {
  grid-row: 8;
  justify-content: space-around;
  background-color: #333333;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer_ul {
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
}

.footer_ul > li {
  list-style-type: none;
  margin-left: 20px;
  padding-left: 8px;
  border-left: solid 1px white;
}

.footer_2017 > li {
  list-style-type: none;
}

.footer_2017 {
  display: flex;
  justify-content: flex-end;
}
