// Creer une flex blox
@mixin flex_box($justify_c, $align_c) {
  display: flex;
  justify-content: $justify_c;
  align-items: $align_c;
}

@mixin make_button($button_color) {
  padding: 16px 32px 16px 32px;
  margin: 32px 8px 64px 8px;
  background-color: $button_color;
  color: white;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 900;
}
